{% extends "base.html" %}

{% block content %}
    <h1>Build a blog</h1>


        <ul>
            {% for title in completed_title %}
            <li><h2>
            
            <form method="POST" action="/blog-post" style="display:inline-block;">
            <input type="hidden" name="title" value="{{title.title}}" />
            <input type="hidden" name="post" value="{{title.blog}}" />
            <input type="image" value="{{title.title}}!" />
            </form> 
            
            </h2> 
            {{title.blog}}
            </li> 

            {% endfor %}
        </ul>

{% endblock %}